@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-blue-500: oklch(0.7228 0.0876 222.16);
  --color-blue-600: oklch(0.3741 0.0826 237.78);
}

/* 
:root[data-theme="light"] {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
}

:root[data-theme="dark"] {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
} */

body {
  padding: 25px;
}

@layer utilities {
  .theme-transition {
    transition:
      background-color 500ms ease,
      border-color 500ms ease,
      color 500ms ease,
      fill 500ms ease,
      stroke 500ms ease,
      box-shadow 500ms ease;
  }
}